<nav class="app-nav">
    <div class="app-nav__content">
        <ul class="app-nav__content_ul">
            <li class="app-nav__content__li">
                <a routerLink="/events"
                class="app-nav__content__link" 
                routerLinkActive="app-nav__content__link--active"
                >
                    Events
                </a>
            </li><!--
            --><li class="app-nav__content__li">
                <a routerLink="/other-view"
                class="app-nav__content__link" 
                routerLinkActive="app-nav__content__link--active"
                >
                    Other view
                </a>
            </li>
        </ul>
    </div>
</nav>
